.footerS {
  background-color: #ffb6c1;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.social-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items:center;
}


